.leftPanel {
  width: 250px;
  background-color: #f0f0fB;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftPanel h1 {
  margin-bottom: 2rem;
}

.leftPanel ul {
  margin-top: 4rem;
  list-style-type: none;
  padding: 0;
}

.leftPanel li {
  margin-bottom: 1rem;
  line-height: 2.5rem;
}

.active {
  text-decoration: underline !important;
  text-underline-offset: 6px;
}

.leftPanel a {
  text-decoration: none;
  color: #333;
}

.leftPanel a:hover {
  color: #4a4aff;
}
