.leftPanel {
  width: 200px;
  background-color: #f0f0f0;
  padding: 1rem;
}

.leftPanel h1 {
  margin-bottom: 2rem;
}

.leftPanel ul {
  list-style-type: none;
  padding: 0;
}

.leftPanel li {
  margin-bottom: 1rem;
}

.leftPanel a {
  text-decoration: none;
  color: #333;
}

.leftPanel a:hover {
  color: #4a4aff;
}
