.container {
  display: flex;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  padding: 120px;
  padding-top: 80px;
  background-color: #f9f9f9;
}

.main h1 {
  font-size: 32px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 12px;
}

.main p {
  font-size: 18px;
  color: #808080;
}

.premiumUpsell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 30px;
}

.premiumUpsell h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: #333333;
  padding: 8px 12px;
}

.optionsContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.titleBox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.titleBox h2 {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option {
  background-color: #f0f0f0;
  padding: 28px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.option:hover,
.freeOption:hover {
  background-color: #e9e9e9;
}

.freeOption {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #00000017;
}

.upgradeSection {
  background-color: #e0e0ff;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribeButton {
  background-color: #4a4aff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
}

.credits {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
}

.credits p {
  font-size: 16px;
  margin: 0;
}

.credits span {
  font-weight: bold;
  color: #333333;
}

.optionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.optionIcon {
  font-size: 24px;
}

.proTag {
  background-color: #383838;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.background {
  background-color: #fff;
  border: none !important;
}

.freeTag {
  background-color: #e9e9e9;
  color: black;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.optionText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.option h2,
.freeOption h2,
.upgradeSection h2 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  margin: 0;
}

.option p,
.freeOption p {
  color: #00000060;
  font-size: 16px;
  font-style: normal;
  margin-top: -5px;
  font-weight: 300;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  /* margin: 0; */
}

.proBanner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
